/* small device */
@media screen and (max-width: 576px) {
  .navbar {
    max-width: 95%;
    margin-bottom: 20px;
  }
  .nav-links {
    display: none;
  }
  .ham-burger {
    display: block;
    font-size: 1.5rem;
  }
  .nav-text {
    width: 50%;
  }
  .brand {
    font-size: 1.5rem;
  }

  .banner-section {
    max-width: 95%;
    height: 500px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-subtitle {
    font-size: 0.7rem;
  }
  .banner-subtitle br {
    display: none;
  }
  .banner-input {
    width: 60%;
    margin: 0 auto;
    height: auto;
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  .banner-input input,
  select {
    height: 2.8rem;
    margin: 0;
  }
  #banner-btn {
    width: 95%;
    height: 2.8rem;
  }

  .tour-section {
    flex-direction: column;
    gap: 30px;
  }
  .tour-section-text,
  .tour-section-img,
  .deal-section {
    width: 95%;
  }

  .tour-section-text li {
    margin-top: 16px;
    padding-left: 10px;
  }

  .destination-grid1,
  .destination-grid2,
  .destination-grid3 {
    position: relative;
    width: 95%;
    height: auto;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr;
  }
  .grid1-img1-text {
    position: absolute;
    top: 25%;
    left: 40%;
  }
  .grid1-img2-text {
    position: absolute;
    top: 72%;
    left: 40%;
  }
  .grid2-img1-text {
    position: absolute;
    top: 15%;
    left: 40%;
  }
  .grid2-img2-text {
    position: absolute;
    top: 50%;
    left: 35%;
  }
  .grid2-img3-text {
    position: absolute;
    top: 83%;
    left: 40%;
  }
  .grid3-img1-text {
    position: absolute;
    top: 25%;
    left: 35%;
  }
  .grid3-img2-text {
    position: absolute;
    top: 75%;
    left: 35%;
  }
  .chooseUs-section {
    width: 95%;
    margin: 0 auto;
  }
  .chooseUs-title {
    font-size: 1.5rem;
  }
  .assets-grid1,
  .assets-grid2 {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .deal-section-card1,
  .deal-section-card2,
  .deal-section-card3 {
    width: 100%;
    height: auto;
    display: block;
    padding-top: 25%;
    padding-bottom: 10px;
  }

  .deal-card-info {
    margin: 50px 50px 10px 50px;
    padding: 20px 30px 20px 20px;
  }
  .deal-card-heading {
    display: block;
    gap: 20px;
    color: rgb(90, 90, 93);
    font-size: 0.9rem;
  }


  .place-section{
    grid-template-columns: 1fr;
   width: 95%;
   margin: 0 auto;
  }
  .place-section-video iframe {
    width: 98%;
  }

  .newsletter-section {
    width: 95%;
    margin: 0 auto;
    height: auto;
    grid-template-columns: 1fr;
    
  }
  .newsletter-pic{
    height: 350px;
    width: 98%;
  }
  .newsletter-pic-btn {
    width: 230px;
    height: 100px;
    bottom: -57%;
    left: 37%;
    
  }
}
