@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

.mulish-font {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Shared Style */
.display-flex {
  display: flex;
}
#primary-color {
  color: rgb(255, 84, 0);
}
.primary-btn {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: rgb(255, 84, 0);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}
body {
  max-width: 1000px;
  margin: 0 auto;
}

/* Header Style */
.navbar {
  max-width: 100%;
  margin: 50px auto;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.nav-text {
  text-align: center;
  align-items: center;
  gap: 5px;
}
.brand {
  font-size: 2rem;
  font-weight: 800;
}
.nav-links a {
  text-decoration: none;
  list-style: none;
  font-size: 1rem;
  color: rgb(66, 66, 71);
}
.nav-links li {
  list-style: none;
  margin-left: 40px;
}
.ham-burger {
  display: none;
}
/* Banner section styles */
.banner-section {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8),
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/banner.png");
  border-radius: 16px;
  width: 100%;
  height: 450px;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}
.banner-title {
  font-size: 3.5rem;
  font-weight: 800;
  margin: 0;
  margin-bottom: 24px;
}
.banner-subtitle {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 40px;
}
.banner-input {
  max-width: 80%;
  height: 84px;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.banner-input input,
select {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  margin-right: 20px;
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-weight: 400;
  padding: 10px;
}
#when {
  background: rgb(255, 255, 255);
}

/* Our Popular Tours styles start */

.tour-section {
  margin: 100px 0;
  align-items: center;
  gap: 50px;
}
.tour-section-text,
.tour-section-img {
  width: 50%;
}
.tour-section-img img {
  width: 100%;
}
.tour-section-title {
  color: rgb(19, 19, 24);
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.tour-text {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  margin: 24px 0;
}
.tour-text-li {
  margin: 16px 0;
  margin-left: 20px;
}
#tour-btn {
  margin-top: 20px;
  font-size: 1.1rem;
}

/* Choose Your Destination styles */

/* Destination text */
.destination-section {
  text-align: center;
  margin-bottom: 100px;
}
.destination-title {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.destination-subtitle {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
}

/* Destination grid-1 */
.destination-img img {
  opacity: 2;
  width: 100%;
  height: 280px;
  border-radius: 20px;
  opacity: 2;
}
.destination-img p {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 800;
}
.destination-grid1 {
  position: relative;
  margin-top: 45px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  border: 0px;
}

.grid1-img1-text {
  position: absolute;
  top: 45%;
  left: 20%;
  opacity: 3;
}
.grid1-img2-text {
  position: absolute;
  top: 45%;
  left: 70%;
  opacity: 3;
}

/* Destination grid-2 */
.destination-grid2 {
  position: relative;
  margin: 1rem 0px;
  display: grid;
  grid-template-columns: 1.5fr 2fr 1.3fr;
  gap: 1rem;
  border: 0px;
}
.grid2-img1-text {
  position: absolute;
  top: 45%;
  left: 10%;
  opacity: 3;
}
.grid2-img2-text {
  position: absolute;
  top: 45%;
  left: 45%;
  opacity: 3;
}
.grid2-img3-text {
  position: absolute;
  top: 45%;
  left: 82%;
  opacity: 3;
}

/* Destination grid-3 */

.destination-grid3 {
  position: relative;
  margin: 1rem 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;
  height: 280px;
  border: 0px;
}
.grid3-img1-text {
  position: absolute;
  top: 45%;
  left: 15%;
  opacity: 3;
}
.grid3-img2-text {
  position: absolute;
  top: 45%;
  left: 65%;
  opacity: 3;
}

/* Why Choose Us styles */
.chooseUs-text {
  margin-bottom: 100px;
}
.chooseUs-text {
  text-align: center;
}
.chooseUs-title {
  color: rgb(19, 19, 24);
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 16px;
}
.chooseUs-subtitle {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
}

.assets-grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.grid1 {
  background: rgba(251, 181, 99, 0.05);
  padding: 32px;
  border-radius: 20px;
}
.grid2 {
  background-color: #f4fdff;
  padding: 32px;
  border-radius: 20px;
}

.chooseUs-assets img {
  height: 64px;
  width: 64px;
  margin-bottom: 32px;
}
.asset-title {
  color: rgb(19, 19, 24);
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 16px;
}
.asset-subtitle {
  color: rgb(90, 90, 93);
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 16px;
  margin-bottom: 50px;
}

.assets-grid2 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 50px;
  margin-top: 20px;
}
.grid3 {
  background: rgba(233, 68, 68, 0.05);
  padding: 32px;
  border-radius: 20px;
}

/* Deals & Discounts styles */
.deal-section {
  margin: 100px auto;
  text-align: center;
}
.deal-title {
  color: rgb(19, 19, 24);
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 16px;
}
.deal-subtitle {
  color: rgb(90, 90, 93);
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 16px;
}

/* deal section card */

.deal-section-card1 {
  background-image: url(../Images/Group39.png);
  border-radius: 16px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1.4fr;
}
.deal-section-card2 {
  background-image: url(../Images/Group40.png);
  border-radius: 16px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}
.deal-section-card3 {
  background-image: url(../Images/Group39.png);
  border-radius: 16px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1.4fr;
}
.deal-card-info {
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
  margin: 50px;
  padding: 50px 70px 50px 30px;
}

.deal-card-heading {
  display: flex;
  gap: 24px;
  color: rgb(90, 90, 93);
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 24px;
}
.fa-clock,
.fa-users,
.fa-location-dot {
  color: rgb(255, 84, 0);
  font-weight: 800;
}
.fa-location-dot {
  margin-left: 24px;
}

.deal-card-title {
  color: rgb(19, 19, 24);
  font-size: 1.2rem;
  font-weight: 800;
  margin: 16px auto;
}
.deal-card-subtitle {
  color: rgb(90, 90, 93);
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 16px;
}
.deal-card-price {
  font-size: 1rem;
  color: rgb(255, 84, 0);
  font-weight: 800;
  margin-bottom: 16px;
}
#card-btn {
  width: 130px;
  font-size: 0.9rem;
}
#packages-btn {
  width: 160px;
  margin-top: 20px;
}
#deal-card {
  text-align: left;
}

/* A Simple Perfect Place Section styles */

.place-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-bottom: 100px;
}
.place-section-title {
  color: rgb(19, 19, 24);
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.place-section-subtitle {
  color: rgb(90, 90, 93);
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 20px;
}
.place-ul li {
  color: rgb(19, 19, 24);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 20px;
}

.place-section-video iframe {
  border-radius: 16px;
}

/* Newsletter section styles */
.newsletter-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-bottom: 100px;
}

.newsletter-form {
  display: grid;
  padding: 40px;

  border: 1px solid rgb(255, 84, 0);
  border-radius: 16px;
}
.newsletter-title {
  color: rgb(19, 19, 24);
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 16px;
}
.newsletter-subtitle {
  color: rgb(90, 90, 93);
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 48px;
}
.newsletter-form input {
  width: 100%;
  height: 2.8rem;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  margin-bottom: 16px;
}
#newsletter-btn {
  background-color: rgb(255, 84, 0);
  margin-top: 20px;
}
.newsletter-pic {
  width: 95%;
  height: auto;
  background-image: url(../Images/Rectangle8.png);
  border-radius: 16px;
}
.newsletter-pic-btn {
  position: relative;
  width: 270px;
  height: 100px;
  text-align: center;
  background-color: rgb(255, 84, 0);
  border-radius: 16px;
  padding: 20px;
  bottom: -62%;
  left: 40%;
  transform: rotate(-25deg);
}
.newsletter-pic-subtitle {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 400;
}
.newsletter-pic-title {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 800;
}

/* Footer Styles */
footer {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(19, 19, 24, 0.05);
  margin-top: 80px;
  border-radius: 16px;
}
.footer-section {
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 100px 250px;
}
#footer-brand {
  font-size: 1.5rem;
}
.footer-text {
  color: rgb(90, 90, 93);
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 30px;
}
.scocial-icon a{
  margin-left: 20px;
  text-decoration: none;
  color: black;
}
.footer-section hr{
  width: 100%;
  border: 1px solid rgba(19, 19, 24, 0.1);
  margin-top: 40px;
  margin-bottom: 50px;
}
