@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

.mulish-font {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Shared Style */
.display-flex {
  display: flex;
}
#primary-color {
  color: rgb(255, 84, 0);
}
.primary-btn {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: rgb(255, 84, 0);
  color: rgb(255, 255, 255);
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}
body {
  max-width: 1000px;
  margin: 0 auto;
}

/* Header Style */
.navbar {
  max-width: 100%;
  margin: 50px auto;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.nav-text {
  text-align: center;
  align-items: center;
  gap: 5px;
}
.brand {
  font-size: 2rem;
  font-weight: 800;
}
.nav-links a {
  text-decoration: none;
  list-style: none;
  font-size: 1rem;
  color: rgb(66, 66, 71);
}
.nav-links li {
  list-style: none;
  margin-left: 40px;
}
.ham-burger {
  display: none;
}
/* Banner section styles */
.banner-section {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8),
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/banner.png");
  border-radius: 16px;
  width: 100%;
  height: 450px;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}
.banner-title {
  font-size: 3.5rem;
  font-weight: 800;
  margin: 0;
  margin-bottom: 24px;
}
.banner-subtitle {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 40px;
}
.banner-input {
  max-width: 80%;
  height: 84px;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.banner-input input,
select {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  margin-right: 20px;
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}
#when {
  background: rgb(255, 255, 255);
}

/* Our Popular Tours styles start */

.tour-section {
  margin: 100px 0;
  align-items: center;
  gap: 50px;
}
.tour-section-text,
.tour-section-img {
  width: 50%;
}
.tour-section-img img {
  width: 100%;
}
.tour-section-title {
  color: rgb(19, 19, 24);
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.tour-text {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  margin: 24px 0;
}
.tour-text-li {
  margin: 16px 0;
  margin-left: 20px;
}
#tour-btn {
  margin-top: 20px;
  font-size: 1.1rem;
}

/* Choose Your Destination styles */

/* Destination text */
.destination-section {
  text-align: center;
  margin-bottom: 100px;
}
.destination-title {
  font-size: 2rem;
  font-weight: 800;
}

.destination-subtitle {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
}

/* Destination grid-1 */
.destination-grid1 {
  margin-top: 45px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  height: 300px;
  border: 0px;
}
.grid1-img1 {
  width: 100%;
  background-image: url(../Images/Rectangle5.png);
  background-color: rgba(19, 19, 24, 0.5);
  border-radius: 20px;
}
.grid-img-text{
  position: relative;
  top: 45%;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 800;
}

.grid1-img2 {
  width: 100%;
  background-image: url(../Images/Rectangle\ 8.png);
  background-color: rgba(19, 19, 24, 0.5);
  border-radius: 20px;
}


/* Destination grid-2 */
.destination-grid2 {
  margin: 1rem 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 2fr 1.3fr;
  gap: 1rem;
  height: 280px;
  border: 0px;
}
.grid2-img1 {
  background-image: url(../Images/Rectangle6.png);
  background-color: rgba(19, 19, 24, 0.5);
  border-radius: 20px;
}
.grid2-img2 {

  background-image: url(../Images/Rectangle7.png);
  background-color: rgba(19, 19, 24, 0.5);
  border-radius: 20px;
}
.grid2-img3 {
  background-image: url(../Images/Rectangle9.png);
  background-color: rgba(19, 19, 24, 0.5);
  border-radius: 20px;
}

/* Destination grid-3 */

.destination-grid3 {
  margin: 1rem 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;
  height: 280px;
  border: 0px;
}
.grid3-img1 {
  background-image: url(../Images/Rectangle11.png);
  background-color: rgba(19, 19, 24, 0.5);
  border-radius: 20px;
}
.grid3-img2 {
  background-image: url(../Images/Rectangle10.png);
  background-color: rgba(19, 19, 24, 0.5);
  border-radius: 20px;
}